{% extends 'topbar.html' %}

{% block body %}
<p1>Picture Title: {{ object.title }}</p1><br>
<p1>Picture Description: {{ object.description }}</p1><br>
    <p1> Photographer Name: {{ object.uploader_name }}<br>
        <p1>UTC Upload time: {{ object.date }}</p1><br>
        <p1>Like Counts: {{ object.likeCount }}</p1><br>
        <a class="btn" href="/photos/photographer/?q={{ object.uploader_name }}">Click here to view the profile of the photographer</a><br>
        <a class="btn" href="/photos/tags/?q={{ object.title }}">Click here to Find Similar Images</a><br>

<img src="{{ object.file.url }}" width="300" height="200">
{% endblock %}